<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>927032240143-1i01ds0rmfl54i0a1p4l5bd7tvsil8qa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.927032240143-1i01ds0rmfl54i0a1p4l5bd7tvsil8qa</string>
	<key>API_KEY</key>
	<string>AIzaSyA9bfa5XHqYSgHQTR-uXLvzNknspsnLojY</string>
	<key>GCM_SENDER_ID</key>
	<string>927032240143</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.browser.gopretty.boy</string>
	<key>PROJECT_ID</key>
	<string>pretty-browser</string>
	<key>STORAGE_BUCKET</key>
	<string>pretty-browser.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:927032240143:ios:d1384887f95512f0731b7a</string>
</dict>
</plist>